h1 {
  color: black;
}
h4 {
  color: white;
}
.container {
  background-color: gold;
}
body {
  background-color: pink;
}
ul {
  color: white;
}
.navbar li {
  margin-left: 15px;
  display: inline;
  background-image: url("https://images.pexels.com/photos/1075959/pexels-photo-1075959.jpeg?cs=srgb&dl=blooming-bright-color-1075959.jpg&fm=jpg");
}
.login {
  float: right;
}
.login a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #ffffff

}
.login a: active {
  top: 3px;
  position: relative;
}
